body {
    background-color:bisque;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #323334; 
    color: white;              
    text-decoration: none;     
    border-radius: 5px;        
    margin: 5px;               
    font-weight: bold;
    transition: background-color 0.3s;
  }